.register{
    width: 400px;
    background: #fff;
    border: 1px solid #dddfe2;
    box-shadow: 0 2px 4px rgb(0 0 0 /10%), 0 8px 16px rgb(0 0 0 /10%);
    border-radius: 8px;
    padding: 1rem;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
}
.register > form >input{
    border-radius: 8px;
    border: 2px solid #dddfe2;
    outline: none;
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    width: 94%;
    font-size: 1rem;
}
.register > form> .button{
    background: #1877f2;
    border: 1px solid #1877f2;
    color: #fff;
    font-size: 1.25rem;
    padding: 0.5rem;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    width: 96.5%;
}

@media (max-width: 768px){
    .register{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        margin-top: 25%;
    }
}

@media (min-width: 769px) and (max-width: 1023px){
    .register{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        margin-top: 15%;
    }
}